<div class="jumbotron">
  <div class="jumbo-container">
    <div class="col-lg-10">
      <h1>Find your next home</h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
</div>

<div class="container"
  <h1>Placeholder Homepage</h1>
  
</div>
