.navbar-fixed-top {
  background-color: #556F7A;
}

.carousel-inner > .item img {
    height: 500px;
    background-size: cover;
    display: block;
    margin: auto;
}

.form-group input {
  color: #556F7A;
  text-align: center;
}

.logo {
  padding-top: 0;
}

.hovered td {
  background-color: #556F7A;
  color: white;
}
